Repository quixoticmonk/aws-iac-patterns, pull requests merged in 2022-02, with the labels that each got.

#5 Fixing base gh actions
  .github/workflows/gh_actions.yaml
Labels: bug, gh-actions

#6 Feature/aws textract comprehend
  .gitignore
  aws-textract-comprehend/terraform/README.md
  aws-textract-comprehend/terraform/artifacts/extract-queue.zip
  aws-textract-comprehend/terraform/artifacts/parse-desc.zip
  aws-textract-comprehend/terraform/artifacts/validate.zip
  aws-textract-comprehend/terraform/athena.tf
  aws-textract-comprehend/terraform/common-tags-data.tf
  aws-textract-comprehend/terraform/iam.tf
  aws-textract-comprehend/terraform/inventory/extract-queue.zip
  aws-textract-comprehend/terraform/inventory/index.py
  aws-textract-comprehend/terraform/inventory/parse-desc.zip
  aws-textract-comprehend/terraform/inventory/successtest.png
  aws-textract-comprehend/terraform/inventory/upload.zip
  aws-textract-comprehend/terraform/inventory/validate.zip
  aws-textract-comprehend/terraform/kms_key.tf
  aws-textract-comprehend/terraform/lambda.tf
  aws-textract-comprehend/terraform/s3.tf
  aws-textract-comprehend/terraform/sns.tf
  aws-textract-comprehend/terraform/sqs.tf
  aws-textract-comprehend/terraform/src/data-extract.py
  aws-textract-comprehend/terraform/src/data-parse.py
  aws-textract-comprehend/terraform/src/data-validate.py
  aws-textract-comprehend/terraform/terraform.tfvars
  aws-textract-comprehend/terraform/variables.tf
Labels: terraform

#1 Amazon MSK
  amazon-msk/terraform/README.md
  amazon-msk/terraform/common-tags-data.tf
  amazon-msk/terraform/data_platform_client.tf
  amazon-msk/terraform/data_platform_client_iam.tf
  amazon-msk/terraform/data_platform_kms_key.tf
  amazon-msk/terraform/data_platform_msk.tf
  amazon-msk/terraform/data_platform_msk_logging.tf
  amazon-msk/terraform/data_platform_secret.tf
  amazon-msk/terraform/data_platform_vpc.tf
  amazon-msk/terraform/provider.tf
  amazon-msk/terraform/terraform.tfvars
  amazon-msk/terraform/tf_graph.svg
  amazon-msk/terraform/variables.tf
Labels: terraform

#7 cleaned up and merged README
  amazon-kendra/README.md
  amazon-kendra/cdk/README.md
Labels: documentation

#10 Feature/Amazon SPA (Single Page Application Build)
  README.md
  amazon-spa/terraform/README.md
  amazon-spa/terraform/common-tags-data.tf
  amazon-spa/terraform/spa.tf
  amazon-spa/terraform/terraform.tfvars
  amazon-spa/terraform/variables.tf
Labels: terraform
